<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ trip.name }} - DevSplit</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="flash-message">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="container">
      <h1>{{ trip.name }}</h1>
      <p>Share this link with your group.</p>

      <div class="link-box">
        <code id="trip-link">{{ request.url }}</code>
        <button onclick="copyLink()" id="copy-btn">Copy Link</button>
      </div>

      <p>
        Expires on <strong>{{ trip.expires_at.strftime('%d %B %Y') }}</strong>
      </p>

      <h2 class="header">Welcome, {{ current_member.name }}!</h2>
      <form
        action="{{ url_for('main.add_expense', code = trip.code) }}"
        method="POST"
      >
        <input
          type="text"
          name="description"
          placeholder="Expense description"
          required
        />

        <input
          type="number"
          name="amount"
          placeholder="Enter amount"
          required
        />

        <h3>Split Between ({{ trip.participants|length }})</h3>

        <label class="select-all">
          <input type="checkbox" id="select" onclick="selectAll()" />
          <span>Select all</span>
        </label>

        <div class="participant-list">
          {% for participant in trip.participants %}
          <label class="split-option">
            <input
              type="checkbox"
              name="split_among"
              value="{{ participant.id  }}"
              onclick="updateSelectAll()"
            />
            <span>{{ participant.name }}</span>
          </label>
          {% endfor %}
        </div>
        <button type="submit">Add Expense</button>
      </form>
      <hr />

      <h3>Settlements ({{ settlements|length }})</h3>
      {%if settlements %} {% for s in settlements %}
      <p class="settlement-item">
        <strong>{{ s['from'] }}</strong> pays <strong>{{ s['to'] }}</strong> ₹{{
        "%.2f" % s['amount'] }}
      </p>
      {% endfor %} {% else %}
      <p>No Settlements needed yet.</p>
      {% endif %}

      <hr />

      <h3>History ({{ trip.expenses|length }})</h3>
      <div class="history-list">
        {% for expense in trip.expenses %}
        <div class="history-item">
          <div class="history-main">
            <div class="history-content">
              <strong>{{ expense.payer.name }}</strong> paid
              <strong>₹{{ "%.2f" % expense.amount }}</strong> for
              <strong>{{ expense.description}}</strong>
              <small
                >{{ expense.created_at.strftime('%d %b %Y, %I:%M %p') }}
                UTC</small
              >
            </div>

            {% if expense.payer.id == current_member.id %}
            <div class="expense-actions">
              <button
                type="button"
                class="icon-btn"
                onclick="toggleEdit({{ expense.id }})"
              >
                <i class="fa-solid fa-pen"></i>
              </button>

              <form
                action="{{ url_for('main.delete_expense', code=trip.code, expense_id=expense.id) }}"
                method="POST"
              >
                <button
                  type="submit"
                  class="icon-btn"
                  onclick="return confirm('Delete this expense?');"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
              </form>
            </div>
            {% endif %}
          </div>
          <div id="edit-form-{{ expense.id }}" class="edit-form hidden">
            <form
              action="{{ url_for('main.edit_expense', code=trip.code, expense_id=expense.id) }}"
              method="POST"
            >
              <input
                type="text"
                name="description"
                value="{{ expense.description }}"
                required
              />

              <input
                type="number"
                name="amount"
                value="{{ "%.2f" % expense.amount}}"
                required
              />

              <h4>Split Between</h4>
              <div class="participant-list">
                {% for participant in trip.participants %}
                <label class="split-option">
                  <input
                    type="checkbox"
                    name="split_among"
                    value="{{ participant.id }}"
                    {%
                    for
                    split
                    in
                    expense.splits
                    %}
                    {%
                    if
                    split.participant_id==participant.id
                    %}
                    checked
                    {%
                    endif
                    %}
                    {%
                    endfor
                    %}
                  />

                  {{ participant.name }}
                </label>
                {% endfor %}
              </div>

              <div class="edit-actions">
              <button type="submit">Save Changes</button>
              <button
                type="button"
                class="cancel-btn"
                onclick="toggleEdit({{ expense.id }})"
              >
                Cancel
              </button>
              </div>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
